body {
    font-family: 'Times New Roman', Times, serif;
}

table, th, td {
    border: 4px ridge lightgray;
    text-align: center;
    padding: 3px;
    border-collapse: collapse;
}

th {
    font-weight: 900;
}