.dark-background {
    background-color: #232323;
}

.white-text {
    color: white;
}

#banner {
    width: 100%;
    text-align: center;
    background-color: blue;
}

#menu {
    background-color: white;
    text-align: center;
    height: 30px;
}

#menu ul {
    text-align: center;
    list-style: none;
}

#menu ul li {
    float: left;
}

.square {
    background-color: yellow;
    width: 30%;
    margin: 1.66%;
    padding-bottom: 30%;
    float: left;
}

#squares-container {
    max-width: 600px;
    margin: 0 auto;
}