table {
    margin: auto;
}

td {
    width: 100px;
    height: 100px;
}

td:nth-of-type(2) {
    border-left: solid black 1px;
    border-right: solid black 1px;
}

tr:nth-of-type(2) {
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}

#table-title {
    text-align: center;
    font-family: "Times New Roman", Georgia, serif;
    font-weight: 900;
}